.form-container {
	display: flex;
	flex-direction: column;
	width: 500px;
	max-width: 90%;
	margin: 3% auto 0;
}

form {
	display: flex;
	flex-direction: column;

	input,
	button {
		padding: 2%;
		margin: 1% 0;
		border: 1px solid black;
		border-radius: 15px;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.25rem;
		transition: background-color 0.3s;
	}

	input {
		font-family: 'Pacifico', cursive;
		color: #593959;
	}

	button:hover {
		background-color: #593959;
		color: white;
		cursor: pointer;
	}
}
