.list-items {
	margin-top: 3%;
}

.item {
	background-color: #593959;
	color: white;
	width: 100%;
	max-width: 500px;
	margin: 1% auto;
	padding: 0;
	border-radius: 15px;
	padding: 1%;
	font-family: 'Pacifico', cursive;
	font-size: 1.25rem;
	cursor: pointer;
}

.completed {
	background-color: #ada9b6;
	color: black;
	text-decoration: line-through;
}
